/*
3C3744 dark grey 
090C9B dark blue
3066BE lightblue
B4C5E4 verylight blue
FBFFF1 offwhite
*/
.smallFont {
  font-size: 8pt;
}
.Scoreboard {
  color: white;

  background-color: rgb(24, 16, 16);
  /*width: 95%; */
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border-top: 0px;
  border-left: 0px;
  border-right: solid 10px rgb(37, 37, 37);
  border-bottom: 10px rgb(37, 37, 37) solid;
  padding: 10px;
  box-shadow: 5ch;

  /*margin-bottom: 20px;*/
}
.Panel {
  min-width: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  justify-content: space-around;
  padding: 4px;
}
.Center-Panel {
  flex-grow: 1;
}
.Border {
  border: 1px solid white;
  border-radius: 5px;
}
.TeamName {
  height: 2.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: scoreboard;
  font-weight: bold;
  font-size: 18pt;
}
.Scores {
  display: flex;
  justify-content: space-around;
}
@font-face {
  font-family: "scoreboard";
  src: url("./DS-DIGIT.TTF");
}

.Time {
  max-width: 400px;
  font-size: 1.4em;
  border-radius: 5px;
  padding: 0.05em 0.2em;
}
.Half {
  font-size: 2.5em;
  width: 1em;
}
.Score {
  display: flex;
  flex-direction: row;
  padding: 0px 3px;
  max-width: 300px;
  font-size: 6em;
}
.Digit {
  color: red;
  background-color: rgb(44, 1, 1);
  font-family: scoreboard;
  text-align: right;
  min-width: 0.8ex;
  margin: 0 5px 5px 5px;
  padding: 0 0.1em;
  border-radius: 2px;
}
.Attempt {
  position: absolute;
  z-index: 1;
  color: rgba(255, 0, 0, 0.2);
  background: none;

  font-size: inherit;
  margin: inherit;
  padding: inherit;
  min-width: inherit;
}
